In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [31]:
data = {'Id': [1,2, 3, 4, 5],
     'Color': ['Red', 'Blue', 'Green', 'Blue', 'Blue'],
      'Country': ['USA', 'UK', 'Canada', 'USA', 'USA']}
df = pd.DataFrame(data)
df

   Id  Color Country
0   1    Red     USA
1   2   Blue      UK
2   3  Green  Canada
3   4   Blue     USA
4   5   Blue     USA

In [32]:
df['Color'].unique()

array(['Red', 'Blue', 'Green'], dtype=object)

In [33]:
df['Country'].unique()

array(['USA', 'UK', 'Canada'], dtype=object)

One Hot Encoder

In [34]:
ohe = OneHotEncoder()
ohe

OneHotEncoder()

In [35]:
feat = ohe.fit_transform(df[['Color', 'Country']]).toarray()
feat

array([[0., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.]])

In [36]:
cat = ohe.categories_
cat

[array(['Blue', 'Green', 'Red'], dtype=object),
 array(['Canada', 'UK', 'USA'], dtype=object)]

In [37]:
cat = np.array(cat).ravel()
cat

array(['Blue', 'Green', 'Red', 'Canada', 'UK', 'USA'], dtype=object)

In [38]:
features = pd.DataFrame(feat, columns = cat)
features

   Blue  Green  Red  Canada   UK  USA
0   0.0    0.0  1.0     0.0  0.0  1.0
1   1.0    0.0  0.0     0.0  1.0  0.0
2   0.0    1.0  0.0     1.0  0.0  0.0
3   1.0    0.0  0.0     0.0  0.0  1.0
4   1.0    0.0  0.0     0.0  0.0  1.0

In [39]:
features.head()

   Blue  Green  Red  Canada   UK  USA
0   0.0    0.0  1.0     0.0  0.0  1.0
1   1.0    0.0  0.0     0.0  1.0  0.0
2   0.0    1.0  0.0     1.0  0.0  0.0
3   1.0    0.0  0.0     0.0  0.0  1.0
4   1.0    0.0  0.0     0.0  0.0  1.0

In [40]:
con = pd.concat([df, features], axis = 1)
con

   Id  Color Country  Blue  Green  Red  Canada   UK  USA
0   1    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
1   2   Blue      UK   1.0    0.0  0.0     0.0  1.0  0.0
2   3  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
3   4   Blue     USA   1.0    0.0  0.0     0.0  0.0  1.0
4   5   Blue     USA   1.0    0.0  0.0     0.0  0.0  1.0

Get_Dummies

In [41]:
df = pd.get_dummies(df, columns = ['Color', 'Country'])
df

,Id,Color_Blue,Color_Green,Color_Red,Country_Canada,Country_UK,Country_USA
0,1,False,False,True,False,False,True
1,2,True,False,False,False,True,False
2,3,False,True,False,True,False,False
3,4,True,False,False,False,False,True
4,5,True,False,False,False,False,True

In [43]:
df = pd.get_dummies(pd.Series(list(df)), dtype = float)
df

,Color_Blue,Color_Green,Color_Red,Country_Canada,Country_UK,Country_USA,Id
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,1.0,0.0