In [34]:
import pandas as pd

In [35]:
p = pd.read_csv('penguins_size.csv')
p

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [36]:
p.isna().any()

species              False
island               False
culmen_length_mm      True
culmen_depth_mm       True
flipper_length_mm     True
body_mass_g           True
sex                   True
dtype: bool

In [37]:
p = p.dropna()

In [38]:
p.isna().any()

species              False
island               False
culmen_length_mm     False
culmen_depth_mm      False
flipper_length_mm    False
body_mass_g          False
sex                  False
dtype: bool

In [39]:
print(p['island'].unique())
print(p['species'].unique())
print(p['sex'].unique())

['Torgersen' 'Biscoe' 'Dream']
['Adelie' 'Chinstrap' 'Gentoo']
['MALE' 'FEMALE' '.']

In [43]:
newisland = {'Torgersen': 0, 'Biscoe': 1, 'Dream': 2}
newspecies = {'Adelie': 0, 'Chinstrap': 1, 'Gentoo': 2}
newsex = {'MALE': 0, 'FEMALE': 1, '.': 3}

In [44]:
for c in p['species']:
    p['species'] = p['species'].replace(newspecies)
for d in p['island']:
    p['island'] = p['island'].replace(newisland)
for e in p['sex']:
    p['sex'] = p['sex'].replace(newsex)

C:\Users\sidal\AppData\Local\Temp\ipykernel_9816\2317177100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['species'] = p['species'].replace(newspecies)
C:\Users\sidal\AppData\Local\Temp\ipykernel_9816\2317177100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['island'] = p['island'].replace(newisland)
C:\Users\sidal\AppData\Local\Temp\ipykernel_9816\2317177100.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['sex'] = p['sex'].replace(newsex)

In [45]:
p

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,39.1,18.7,181.0,3750.0,0
1,0,0,39.5,17.4,186.0,3800.0,1
2,0,0,40.3,18.0,195.0,3250.0,1
4,0,0,36.7,19.3,193.0,3450.0,1
5,0,0,39.3,20.6,190.0,3650.0,0
...,...,...,...,...,...,...,...
338,2,1,47.2,13.7,214.0,4925.0,1
340,2,1,46.8,14.3,215.0,4850.0,1
341,2,1,50.4,15.7,222.0,5750.0,0
342,2,1,45.2,14.8,212.0,5200.0,1
343,2,1,49.9,16.1,213.0,5400.0,0

In [46]:
matrix = p.corr()
matrix

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
species,1.000000,-0.010379,0.729262,-0.740803,0.851351,0.751020,0.007012
island,-0.010379,1.000000,0.211906,0.190198,-0.163546,-0.202561,-0.010500
culmen_length_mm,0.729262,0.211906,1.000000,-0.228640,0.652126,0.589066,-0.330491
culmen_depth_mm,-0.740803,0.190198,-0.228640,1.000000,-0.578730,-0.472987,-0.369885
flipper_length_mm,0.851351,-0.163546,0.652126,-0.578730,1.000000,0.873211,-0.229072
body_mass_g,0.751020,-0.202561,0.589066,-0.472987,0.873211,1.000000,-0.397443
sex,0.007012,-0.010500,-0.330491,-0.369885,-0.229072,-0.397443,1.000000

In [54]:
x = p.drop('sex', axis = 1)
y = p['sex'].values.reshape(-1, 1)
print(x.shape)
print(y.shape)

(334, 6)
(334, 1)

In [55]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.33, random_state=42)

KNN

In [79]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
ypred = knn.fit(x, y)
ypred

C:\Users\sidal\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [82]:
from sklearn.metrics import accuracy_score
#accuracy_score(ytest, ypred)

In [83]:
from sklearn.metrics import confusion_matrix
#confusion_matrix(y, ypred)